@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --app-color: beige;
    --weather-image: url("https://images.unsplash.com/photo-1534629938736-b1b076531d3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");

    --white: white;
    --glass-white: rgba( 255, 255, 255, 0.50 );
    --glass-dark: rgba( 50, 50, 50, 0.50 );
    --gray: gray;
    --black: black;
    --green: rgb(0, 120, 0);
    --light-green: rgb(0, 170, 0);
    --red: #E41F18;
    --blue: #009FE3;

    --dark-gray: rgb(40, 40, 40);
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
}

h1,h3,p{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.app{
    width: 100%;
    height: 100%;
    background-color: var(--app-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Global transition style */
.animation1{
    transition: .3s;
}

.animation1:hover{
    transform: scale(1.1);
}

/* Error */

.errorContainer{
    z-index: 200;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(70%, 70%, 70%, .5);
}

.errorField{
    border-radius: 30px;
    padding: 20px;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.icon-tabler-alert-triangle{
    height: 60px;
}

/* Settings */
.settingsPanelContainer{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(70%, 70%, 70%, .5);
    display: none;
}
.settingsPanel{
    max-height: 90%;
    border-radius: 30px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    text-align: center;
    overflow: auto;
}
h2{
    font-size: 40px;
    margin: 5px 0;
}
.formGroup{
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.roundField{
    max-width: 90%;
    width: 500px;
    border-radius: 300px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
label{
    font-size:20px;
    margin-bottom: 5px;
}
input{
    border: 1px solid var(--gray);
}
button{
    border: none;
    color: var(--white);
    cursor: pointer;
}
button.saveButton{
    background-color: var(--blue);
}
button.cancelButton{
    background-color: var(--red);
}
/* Settings checkbox */
.checkBox {
    position: relative;
    width: 50px;
    height: 50px;
    color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 300px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.checkBox::before {
      position: absolute;
      content: '';
      display: block;
      width: 7px;
      height: 20px;
      border-style: solid;
      border-color: var(--white);
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      opacity: 0;
}
.checkBox:checked {
      color: var(--white);
      border-color: var(--blue);
      background: var(--blue);
}
.checkBox::before {
        opacity: 1;
}

/* TitleBar */

.titleBar{
    z-index: 50;
    width: calc(100% - 2*20px);
    height: 5%;
    min-height: 60px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleBarTextField{
    width: 40%;
    margin: 0 2%;
    max-height: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mainTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#titleTemp{
    margin: 0 20px;
}

.titleBarImageField{
    width: 24%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.titleBarImage{
    height: 50px;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.logoField{
    justify-content: flex-start;
}

.settingsIconField{
    justify-content: flex-end;
}
/* Main */
.content{
    height: 95%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* One record / data */
.field{
    width: 90%;
    height: fit-content;
    max-height: 100px;
    border-radius: 20px;
    background-color: var(--white);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.fieldElement{
    margin: 5px;
}

.time, .line{
    width: 30%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line{
    min-width: 200px;
}

.time{
    justify-content: flex-end;
}

.line{
    justify-content: flex-start;
}

.lineElement{
    margin: 0 5px;
    height: 100%;
}

.lineNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.destination{
    max-width: 40%;
}

.destination > p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.circle{
    border-radius: 300px;
    width: 60px;
}

.box{
    border-radius: 10px;
    width: 100px;
}

.onTime{
    color: var(--green);
}

.delayed{
    color: var(--red);
}

.icon-tabler-alert-circle{
    max-height: 100%;
}

@media (prefers-color-scheme: dark) {
    .field{
        background-color: var(--dark-gray);
    }
    .app{
        background-color: var(--black);
        color: var(--white);
    }
    .icon-tabler-settings{
        stroke: var(--white);
    }
    .settingsPanel{
        background-color: var(--dark-gray);
        border: none;
    }
    .logo{
        fill: var(--white);
        z-index: 5;
    }
    .checkBox::before {
        border-color: var(--dark-gray);
    }

    .onTime{
        color: var(--light-green);
    }

    /* Weather dark */
    .weatherEnabled .app:before{
        filter: brightness(50%) blur(0px) !important;
    }

    .weatherEnabled .field, .weatherEnabled .titleBar{
        background-color: var(--glass-dark) !important;
    }
}


/* Weather themes */
.weatherEnabled .content{
    position: relative;
}

.weatherEnabled .app:before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: var(--weather-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
}

.weatherEnabled .field, .weatherEnabled .titleBar{
    background-color: var(--glass-white);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* @media screen and (max-width: 1100px){
    p{
        font-size: 2.5vw;
    }
} */