@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
}

h1,h3,p{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.app{
    width: 100%;
    height: 100%;
    background-color: beige;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Global transition style */
.animation1{
    transition: .3s;
}

.animation1:hover{
    transform: scale(1.1);
}

/* Error */

.errorContainer{
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(70%, 70%, 70%, .5);
}

.errorField{
    width: 70vw;
    border-radius: 5vmin;
    background-color: #E41F18;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

/* Settings */
.settingsPanelContainer{
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(70%, 70%, 70%, .5);
    display: none;
}
.settingsPanel{
    height: 90vh;
    width: 90vw;
    border-radius: 10vmin;
    background-color: white;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h2{
    font-size: 5vmin;
    margin: 2vmin 0;
}
.formGroup{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roundField{
    max-width: 90%;
    width: 50vmin;
    border-radius: 300px;
    height: 6vmin;
    padding: 1vmin;
    font-size: 3vmin;
    text-align: center;
}
label{
    font-size: 2vmin;
    margin-bottom: 5px;
}
input{
    border: 1px solid gray;
}
button{
    background-color: #009FE3;
    border: none;
    color: white;
    cursor: pointer;
}
.closeButton{
    width: 40px;
    height: 40px;
    stroke: gray;
    cursor: pointer;
    float: right;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 300px;
    position: absolute;
    right: 10%;
    top: 10%;
}
/* Settings checkbox */
.checkBox {
    position: relative;
    width: 5vmin;
    height: 5vmin;
    color: black;
    border: 1px solid gray;
    border-radius: 300px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.checkBox::before {
      position: absolute;
      content: '';
      display: block;
      width: 1vmin;
      height: 3vmin;
      border-style: solid;
      border-color: white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
}
.checkBox:checked {
      color: white;
      border-color: #009FE3;
      background: #009FE3;
}
.checkBox::before {
        opacity: 1;
}

/* TitleBar */

.titleBar{
    backdrop-filter: blur(10px);
    width: 90%;
    height: 5%;
    min-height: 60px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleBarImageField{
    max-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.titleBarImage{
    height: 50px;
    max-height: 100%;
    max-width: 100%;
}

#logo{
    fill: black;
}

.icon-tabler-settings{
    cursor: pointer;
}
/* Main */
.content{
    height: 95%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* One record / data */
.field{
    width: 90%;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.fieldElement{
    margin: 10px;
}

.line{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lineElement{
    margin: 0 5px;
    height: 100%;
}

.lineNumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.circle{
    border-radius: 300px;
    width: 60px;
}

.box{
    border-radius: 10px;
    width: 100px;
}

.onTime{
    color: rgb(0, 170, 0);
}

.delayed{
    color: red;
}

@media (prefers-color-scheme: dark) {
    .field{
        background-color: rgb(40, 40, 40);
    }
    .app{
        background-color: black;
        color: white;
    }
    .icon-tabler-settings{
        stroke: white;
    }
    .settingsPanel{
        background-color: rgb(40, 40, 40);
        border: none;
    }
    #logo{
        fill: white;
    }
    .checkBox::before {
        border-color: rgb(40, 40, 40);
    }
  }

@media screen and (max-width: 1000px){
    p{
        font-size: 2.5vw;
    }
}